<!DOCTYPE html>
<html>
<head>
    <title>Note Created</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Note Created</h1>
        <p class="text-center">Your note has been created. Share this code with the receiver:</p>
        <div class="alert alert-info text-center">
            <p><strong>Code:</strong> {{ code }}</p>
        </div>
        <a href="/" class="btn btn-primary btn-block">Create another note</a>
    </div>
</body>
</html>
