<!DOCTYPE html>
<html>
<head>
    <title>Retrieve Note</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Retrieve a Private Note</h1>
        <form action="/note" method="post" class="mt-4">
            <div class="form-group">
                <label for="code">Code:</label>
                <input type="text" id="code" name="code" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Retrieve Note</button>
        </form>
    </div>
</body>
</html>
